*{
    margin: 0;
}

html{
    font-family: Roboto, Arial;
    /* width: 1440px; */
}

button{
    font-family: Roboto, Arial;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

/*   ---   header   ---   */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    height: 60px;

}

.nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav a{
    text-decoration: none;
    color: #505F98;
    padding-right: 60px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.header_btn{
    padding: 4px 56px;
    background-color: #111B47;
    font-weight: 500;
    text-align: center;
    color: white;
    border-radius: 2px;
    border: none;
}

.header_logo{
    position: absolute;
    left: 50%;
    margin-left: -39.75px;
}

/*    ---   hero   ---     */

.h1{
    line-height: 66px;
    font-weight: 500;
    font-size: 50px;
    color: #091133;
    width: 539px;
    height: 132px;
    margin-top: 303px;
}

.hero_desc{
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #505F98;
    width: 539px;
}

.hero_btn_1{
    padding: 5px;
    background-color: #111B47;
    color: white;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    width: 189px;
    border-radius: 2px;
    border: 2px solid #111B47;
    margin-right: 30px;
    margin-top: 69px;
}

.hero_btn_2{
    text-align: center;
    width: 189px;
    padding: 5px;
    color: #091133;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid #091133;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 69px
}

.hero{
    padding-bottom: 320px;
}

.hero_bg{
    position: relative;
    height: 1112px;
    overflow: hidden;
}

.hero_bg:before{
    background: url(img/designer_1.png); 
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: -49px;
    left: 50%;
    transform: translateX(-300px);
    z-index: -1;
}

/*   ---   page 2   ---   */

.h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #091133;
    margin-top: 160px;
}

.page_desc{
    color: #6F7CB2;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 540px;
    margin-bottom: 80px;
}

.page_items{
    display: flex;
}

.page_item{
    width: 255px;
    margin-right: 30px;

}

.item_title{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color:#091133;
    margin-top: 14px;
}

.item_desc{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5D6970;
    margin-top: 6px;
}

.page_2{
    display: flex;
}

.page_bg{
    margin-top: 110px;
}